<!DOCTYPE html>
<html>
<head>
    <title>User List</title>
</head>
<body>

<h2>User List</h2>

<a href="{% url 'user_create' %}">➕ Add User</a>

<br><br>

<table border="1" cellpadding="10">
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Gender</th>
        <th>Action</th>
    </tr>

    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.gender }}</td>
        <td>
            <a href="{% url 'user_update' user.id %}">Edit</a> |
            <a href="{% url 'user_delete' user.id %}">Delete</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="6">No users found.</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>